<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jkworld.dao.LoginLogMapper" >

    <insert id="insert" parameterType="jkworld.pojo.LoginLog" >
    insert into login_log (id, user_id, login_time,
      ip, device)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP},
      #{ip,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR})
  </insert>

</mapper>